body {
  font-family: sans-serif;
  background-color: #F4DFB6;
  color: #1A1A1A;
  max-width: 700px;
  margin: auto;
  padding: 20px;

  background-image: url('logotipo.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 200px auto;
  background-attachment: fixed;
  opacity: 1;
}


body {
  font-family: sans-serif;
  background-color: #F4DFB6;
  color: #1A1A1A;
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

h2 {
  color: #4F6162;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #BFBFBF;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-bottom: 16px;
  font-size: 14px;
}

button {
  background-color: #4F6162;
  color: #FFFFFF;
  font-size: 18px;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}

#lingua-selector button {
  background-color: transparent;
  color: #4F6162;
  border: 2px solid #4F6162;
  border-radius: 4px;
  padding: 6px 12px;
  margin-right: 5px;
  cursor: pointer;
}

#lingua-selector button.selected {
  background-color: #244041;
  color: #FFFFFF;
  font-weight: bold;
}

.language-buttons {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-bottom: 16px;
}

.language-buttons button {
  background-color: transparent;
  border: 2px solid #4F6162;
  color: #4F6162;
  border-radius: 12px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  min-width: 40px;
}

.language-buttons button.selected {
  background-color: #244041;
  color: white;
  border-color: #244041;
}

.language-buttons button:hover {
  background-color: #4F6162;
  color: white;
}

.fatura-buttons {
  display: flex;
  gap: 8px;
  margin-top: 6px;
  margin-bottom: 16px;
}

.fatura-buttons button {
  background-color: transparent;
  border: 2px solid #4F6162;
  color: #4F6162;
  border-radius: 12px;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.fatura-buttons button.selected {
  background-color: #244041;
  color: white;
  border-color: #244041;
}

